/* Utilities */

body{
    background-color: #fff;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #666;
    width: 100%;

}

.u-title{
    border-bottom: 2px dashed gray;
    color: black;
    font-weight: normal;
    font-size: 1.5em;
    padding-bottom: .5em;
    text-align: center;
}

.u-containerDefault{
    width: 100%;
    border-bottom: dotted 1px black;
}



/* MainMenu */

.MainMenu{
    background: #1E1E1E;
    height: 3.75em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

    .MainMenu-list{
        margin:0;
        padding: 0;
    }
    .MainMenu-list li{
        display: inline-block;
    }

    .MainMenu-list li a{
        color: grey;
        text-decoration: none;
        line-height: 3.75em;
        margin-right: 1.5em;
    }



/* Header */

.Header{
    width: 100%;
    height: 20rem;
    margin-top: 3.75em;
    background-image: url('background/woman/ilustracio.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    text-align: center;
    padding: 1.2em 0;
    margin-bottom: 100px;
}

.Header-image{
    border: 2px solid white;
    border-radius: 50%;
}

.Header-name, .Header-link{
    color: white;
}

.Header-link{
    font-size: 2.2em;
    font-weight: bold;
    text-decoration: none;
}

.Header-name{
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
}



/* Profile */

.logo{
    width: 30%;
    margin: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.Profile{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
}

.Profile-link{
    background: orange;
    border-radius: 2em;
    color: white;
    margin-right: .5em;
    padding: .5em 1em;
    text-decoration: none;
}



/* Work */

.skills{
    text-align: center;
    width: 100%;
    margin top: 10px;
}

    .skills article{
        display: inline-block;
        width: 35rem;
        height: 35rem;
        margin: 10px;
    }
    
	.skills__illustration{
        background-color: white;
        border: solid 10px black;
        width: 600px;
        height: 50rem;
        text-align: center;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 100px;
     
    }


/* Work_Background */

.uno{
    width: 25rem;
    height: 25rem;
    background-image: url("background/eme/steel.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.dos{
    width: 25rem;
    height: 25rem;
    background-image: url("background/eme/steel2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.tres{
    width: 50rem;
    height: 50rem;
    background-image: url("background/eme/panel1.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.quatre{
    width: 25rem;
    height: 25rem;
    background-image: url("background/eme/panel2.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.cinc{
    width: 25rem;
    height: 25rem;
    background-image: url("background/eme/concept.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    background-size: 150% 110%;
}
.sis{
    width: 25rem;
    height: 25rem;
    background-image: url("background/eme/colors.png");
    background-repeat: no-repeat;
    background-position: 45% 100%;
    background-size: 150% 90%;
}

/* Work_Woman */

.set{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/babero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}
.vuit{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/cinturon.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.nou{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/mini.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.deu{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/vestit.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.onze{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/lentejuela.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.dotze{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/black.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 90%;
}
.tretze{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/FALDAVOLUMEN.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.catorze{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/MINICINTURON.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.quinze{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/AMERICANA CORTA.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.setze{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/faldadoll.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.disset{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/GAVARDINA.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.divuit{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/moustard.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.dinou{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/strawberry.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.vint{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/sweet.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.trenta{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/CHAQFLOR.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.quaranta{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/JERSEYLARGO.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.cincuanta{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/tricot.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.seixanta{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/CAMISAPUNT.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.setanta{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/WINTER2011-12.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.vuitanta{
    width: 25rem;
    height: 25rem;
    background-image: url("background/woman/chaquetas.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* Work_Men */

.noranta{
    width: 25rem;
    height: 25rem;
    background-image: url("background/men/MINIRALLITA.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.cent{
    width: 25rem;
    height: 25rem;
    background-image: url("background/men/M.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.doscolores{
    width: 25rem;
    height: 25rem;
    background-image: url("background/men/doscolores.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.VARIAS{
    width: 25rem;
    height: 25rem;
    background-image: url("background/men/VARIAS.jpg");
    background-repeat: no-repeat;
    background-size: contain;
;
}
.CHAQCAPUCHA{
    width: 25rem;
    height: 25rem;
    background-image: url("background/men/CHAQCAPUCHA.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.CHAQBASICAS{
    width: 25rem;
    height: 25rem;
    background-image: url("background/men/CHAQBASICAS.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.oberta{
    width: 25rem;
    height: 25rem;
    background-image: url("background/men/oberta.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.JERSEY{
    width: 25rem;
    height: 25rem;
    background-image: url("background/men/JERSEY.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.squared{
    width: 25rem;
    height: 25rem;
    background-image: url("background/men/squared.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}



/* Work_Garments */

.vestidocirco{
    width: 25rem;
    height: 25rem;
    background-image: url("background/garments/vestidocirco.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
.vestidocorazones{
    width: 25rem;
    height: 25rem;
    background-image: url("background/garments/vestidocorazones.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
.camisageo{
    width: 25rem;
    height: 25rem;
    background-image: url("background/garments/camisageo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
.camisaminiflor{
    width: 25rem;
    height: 25rem;
    background-image: url("background/garments/camisaminiflor.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
.alim{
    width: 25rem;
    height: 25rem;
    background-image: url("background/garments/denimflor.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
.top{
    width: 25rem;
    height: 25rem;
    background-image: url("background/garments/top.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
.vestidovoile{
    width: 25rem;
    height: 25rem;
    background-image: url("background/garments/vestidovoile.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}
.denim{
    width: 25rem;
    height: 25rem;
    background-image: url("background/garments/denim.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}




/* Footer */


.Footer{
    background-image: url('IMG_0066.JPG');
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2em 0;
    text-align: center;
}


    .Footer-form{
        text-align: center;
        display: inline-block;
    }

    .Footer-left{
        display: inline-block;
        width: 32em;
        text-align: center;
        vertical-align: top;
    }

    .Footer-title{
        color: white;
    }

    .Footer-formInput,
    .Footer-textarea{
        background: white;
        border: none;
        display: block;
        border-radius: 2em;
        padding: .5em;
        margin: 0 auto 1em;
    }

    .Footer-textarea{
        resize: none;
    }

    .Footer-button{
        background: orange;
        border-radius: 1em;
        border: none;
        color: white;
        padding: .5em 1em;
    } 
    
